<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Twitter API</title>
  </head>
  <body>
    <h1>Bem-vindo ao My Twitter API 🚀 por <b>Pedro Antônio dev</b></h1>
    <p>Escolha um dos endpoints abaixo:</p>
    <ul>
      <li><a href="/admin/">Admin</a></li>
      <li><a href="/api/posts/">Posts</a></li>
      <li><a href="/api/auth/login/">Login</a></li>
      <li><a href="/api/auth/register/">Cadastro</a></li>
    </ul>
  </body>
</html>
